@media only screen and (min-width: 576px) {
    body {
        background: url("/img/fundo-min.jpg") no-repeat center center fixed; 
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media only screen and (max-width: 576px){
    body {
        background: url("/img/fundo_celular.png") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
.bg-transparent{ 
    background-color: transparent !important; 
}
.reception{
    height: 100vh;
}
.z-top{
    z-index: 1080 !important; 
} 
.fadein{ 
    display:none;
} 
.dropdown-toggle::before{
    border-color: #ffffff;
}
