body{
    background: linear-gradient(to right, #1b262c , #0f4c75);
    /* 00b7c2 fdcb9e */
}

.bg-gradient{ 
    background: linear-gradient(to right, #1b262c, #0f4c75);
}
.reception{
    height: 100vh;
}
.z-top{
    z-index: 1080 !important; 
} 
.fadein{ 
    display:none;
} 
.dropdown-toggle::before{
    border-color: #ffffff;
}
