/* 
    Created on : 20/06/2019, 16:57:47
    Author     : cezar
*/
body{
    background: url(https://zepintor.github.io/img/fundo.jpeg) no-repeat center center fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
img {
    width: 550px;
    height: 400px;
}

.whatsapp-position {
    position: fixed;
    bottom:20px;
    right: 40px;
    z-index: 999;
}
.logo {
    width: 320px;
    height: 73px;
}
.main-bg {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #1C2331;
    /*
    #1C2331
    Aquele cinza mais puxado pro azul
    #311c1c
    Aquele cinza mais puxado pro vermelho
    */
    border-radius: 0.3rem;
}

@media (min-width: 576px) {
    .main-bg {
        padding: 4rem 2rem;
    }
}

.bg-maroon {
    background-color: #7f0000
        !important;
}

a.bg-maroon:hover, a.bg-maroon:focus,
button.bg-maroon:hover,
button.bg-maaroon:focus {
    background-color: #f05545
        !important;
}

.bg-purple {
    background-color: #6351ce
        !important; 
}

a.bg-purple:hover, a.bg-purple:focus,
button.bg-purple:hover,
button.bg-purple:focus {
    background-color: #dae0e5 !important;
}
.emoji{
    font-size: 50px;
}
