@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
main{
    margin-top:5rem;
}
h1,h2,h3,h4,h5,h6{
    font-family:'Quicksand',sans-serif;
}
@media only screen and (min-width: 720px) {
    .bottom-navigation-bar {
        display: none;
    }
}
@media only screen and (max-width: 720px) {
    .whatsapp-button {
        display: none;
    }
}