<div class="container text-center">
  <h1>Sobre mim</h1>
  <img class="mw-25-md drop-shadow" src="img/perfil.jpg" alt="Homem segurando um saxofone"/>
  <blockquote>
    <p class="text-leader">A música é a rainha das artes, a pintura é a princesa.</p>
    <small>José Augusto de Campos</small>
  </blockquote>
  <div class="remark alert">
    <p class="text-just text-leader2">Olá meu nome é José Augusto, sou músico, pai de família e pintor, atuo no ramo há mais de vinte anos e gosto muito do que faço. Você pode me chamar de Zé até porque o pessoal da região sempre me chamou assim.</p>
  </div>
</div>
