<div class="container text-center">
  <h1>Contato</h1>
  <h2>Preencha o formulário abaixo para um orçamento sem compromisso.</h2>
  <form method="POST" action="https://formspree.io/mdozalpk" id="formulary">
    <input name="Nome" type="text" data-role="input" data-prepend="Nome" class="mb-6">
    <input name="Email" type="text" data-role="input" data-prepend="Email" class="mb-6">
    <input name="telefone" type="text" data-role="input" data-prepend="Telefone" class="mb-6">
    <textarea name="mensagem" data-role="textarea" data-auto-size="false" placeholder="Sua mensagem..." class="mb-6"></textarea>
  </form>
  <button class="button large default" onclick="home();">Cancelar</button>
  <button class="button large outline default" onclick="submitRequest();">Enviar</button>
</div>
