<div class="text-center">
  <h1>Zé Pintor Indaial</h1>
  <h3>Serviço de pinturas em geral | orçamento sem compromisso</h3>
  <button onclick="contact();" class="button default large outline">Solicite um orçamento</button>
</div>
<div class="grid container">
  <div class="row">
    <div class="cell">
      <div class="img-container drop-shadow">
        <img src="assets/deck2.jpg" alt=""/>
      </div>
    </div>
    <div class="cell">
      <div class="img-container drop-shadow">
        <img src="assets/casa_amarela.png" alt=""/>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <p class="h2">Agora com uma novidade!</p>
  <p>Lixação de parede sem sujeira</p>
  <video class="mw-50-lg mx-auto"
         data-role="video"
         data-src="assets/lixando_com_a_maquina.mp4"
         data-show-loop="false"
         data-show-full="true"
         data-show-mute="true"
         data-show-stop="false"
         data-show-stream="true"
         data-show-volume="false">
  </video>
  <button onclick="services();" class="button default large outline mb-17 mt-4">Veja mais fotos</button>
  <footer class="d-flex flex-justify-center no-visible visible-md bg-dark fg-gray"><span>Made by <a href="https://github.com/cizordj" target="_blank">Cézar</a> with <a href="https://metroui.org.ua/">Metro</a></span></footer>
</div>
