<div class="text-center">
  <h1>Zé Pintor Indaial</h1>
  <h3>Serviço de pinturas em geral | orçamento sem compromisso</h3>
  <button onclick="contact();" class="button dark large outline drop-shadow">Solicite um orçamento</button>
</div>
<div class="grid container">
  <div class="row">
    <div class="cell">
      <div class="img-container drop-shadow">
        <img src="assets/deck2.jpg" alt=""/>
      </div>
    </div>
    <div class="cell">
      <div class="img-container drop-shadow">
        <img src="assets/casa_amarela.png" alt=""/>
      </div>
    </div>
  </div>
</div>
<div class="text-center">
  <button onclick="services();" class="button dark large outline mb-17 mt-4 drop-shadow">Veja mais fotos</button>
</div>
