<div class="reception text-center">
  <div class="display4 fg-white fadein pos-relative pos-center">
    <span class="reduce-3 enlarge-1-md"> Pinturas </span>
    <h4>As cores mais atraentes</h4>
  </div>
</div>
<div class="container-fluid bg-white text-center text-leader pt-1">
  <div class="mb-8 fadein">
    <div class="feature-table row mt-10">
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/casa_amarela3.webp alt="Uma casa com detalhes em amarelo nas partes metálicas como o portão.">
          <span>Detalhes em amarelo da casa</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/casa_amarela1.webp alt="A mesma coisa de outro ângulo">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/casa_amarela2.webp alt="O portão visto bem de perto">
          <span>Pintura feita no portão</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/casa_amarela0.webp alt="O corrimão pintado de amarelo">
          <span>Corrimões da sacada</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/salao_antes.webp alt="Um salão de cabeleireiro sem pintura">
          <span>Salão da barbearia antes do serviço</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/salao_depois.webp alt="Um salão pintuado de azul e laranja">
          <span>Salão após a pintura. Cores escolhidas pela arquiteta.</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/predio0.webp alt="Prédio em início de obra">
          <span>Prédio em início de obra</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/predio1.webp alt="Prédio após a pintura">
          <span>Prédio após a pintura</span>
        </div>
      </div>
    </div>
  </div>
  <button class="button dark large drop-shadow outline mt-6 mb-16" onclick=loadRandomPage();>Ver mais fotos</button>
</div> 
