<div class="reception text-center">
  <div class="display4 fg-white fadein pos-relative pos-center">
    <span class="reduce-3 enlarge-1-md"> Gesso </span>
    <h4>Trabalhos com gesso e acabamento fino</h4>
  </div>
</div>
<div class="container-fluid text-center text-leader pt-1 bg-white">
  <div class="mb-8 fadein">
    <div class="feature-table row mt-10">
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/massa0.webp alt="Parede rebocada">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/massa1.webp alt="Parede rebocada">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/massa2.webp alt="Parte de trás da casa">
          <span>Parte de trás da casa</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/massa3.webp alt="Parte de trás da casa">
          <span>Outro ângulo</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/acabamento_fino0.webp alt="Uma parede com pisos sem o acabamento">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/acabamento_fino1.webp alt="Uma parede com pisos fugados">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/gesso0.webp alt>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img loading="lazy" src=img/gesso1.webp alt>
        </div>
      </div>
    </div>
  </div>
  <button class="button dark large drop-shadow mt-6 mb-16" onclick=loadRandomPage();>Ver mais fotos</button>
</div> 
