<div class="reception text-center pt-10-sm pt-20-md">
  <div class="display4 fg-white fadein">
    <span class="reduce-3 enlarge-1-md"> Telhado </span>
    <h4>Lavação e pinturas de telhado</h4>
  </div>
</div>
<div class="mw-75-xl mx-auto text-center text-leader">
  <div class="mb-8 fadein">
    <div class="feature-table row mt-10">
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/pintura_telhado0.webp alt="Um telhado meio pintado">
          <span>Pintura em telhado</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/pintura_telhado1.webp alt="Um telhado meio pintado">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/lavacao_telhado0.webp alt="Um telado de um lado sujo e outro limpo">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/lavacao_telhado1.webp alt="Um telado de um lado sujo e outro limpo">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/lavacao_telhado_2.jpeg alt="Um telhado sujo visto de longe">
          <span>Telhado antes da lavação</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/lavacao_telhado_3.jpeg alt="O mesmo telhado visto de longe, porém limpo.">
          <span>Telhado após a lavação</span>
        </div>
      </div>
    </div>
  </div>
  <button class="button dark large drop-shadow outline mt-6 mb-16" onclick=loadRandomPage();>Ver mais fotos</button>
</div> 
