<div class="text-leader text-center container mw-50-lg">
  <h1>Confira os meus serviços ;)</h1>
  <div class="img-container drop-shadow">
    <img src="/img/deck0.jpg" alt=""/>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/deck1.jpg" alt=""/>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/deck2.jpg" alt=""/>
    <span>Deck madeira pronto pintado com Osmocolor</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/casa_amarela3.jpg" alt="Uma casa com detalhes em amarelo nas partes metálicas como o portão."/>
    <span>Detalhes em amarelo da casa</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/casa_amarela1.jpg" alt="A mesma coisa de outro ângulo"/>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/casa_amarela2.jpg" alt="O portão visto bem de perto"/>
    <span>Pintura feita no portão</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/casa_amarela0.jpg" alt="O corrimão pintado de amarelo"/>
    <span>Corrimões da sacada</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/casa_madeira0.jpg" alt="Casa de madeira"/>
    <span>Casa de madeira</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/casa_madeira1.jpg" alt="Casa de madeira"/>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/pintura_telhado0.jpg" alt="Um telhado meio pintado"/>
    <span>Pintura em telhado</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/pintura_telhado1.jpg" alt="Um telhado meio pintado"/>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/predio0.jpg" alt="Prédio em início de obra"/>
    <span>Prédio em início de obra</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/predio1.jpg" alt="Prédio após a pintura"/>
    <span>Prédio após a pintura</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/verniz0.jpg" alt="Bancos de igreja"/>
    <span>Renovação do verniz em móveis de madeira</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/verniz1.jpg" alt="Bancos de igreja"/>
    <span>O trabalho completo</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/verniz2.jpg" alt="Mesa sem tinta"/>
    <span>Remoção de verniz</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/verniz3.jpg" alt="Mesa pintada com o verniz"/>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/massa0.jpg" alt="Parede rebocada"/>
    <span>Aplicação de massa</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/massa1.jpg" alt="Parede rebocada"/>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/massa2.jpg" alt="Parte de trás da casa"/>
    <span>Parte de trás da casa</span>
  </div>
  <div class="img-container drop-shadow">
    <img src="/img/massa3.jpg" alt="Parte de trás da casa"/>
    <span>Outro ângulo</span>
  </div>

<button class="button large outline default mt-6 mb-16" onclick="contact();">Faça um orçamento =)</button>
</div>
