<div class="reception text-center pt-10-sm pt-20-md">
  <div class="display4 fg-white fadein">
    <span class="reduce-3 enlarge-1-md"> Madeira </span>
    <h4>Pinturas com verniz e Osmocolor</h4>
  </div>
</div>
<div class="mw-75-xl mx-auto text-center text-leader">
  <div class="mb-8 fadein">
    <div class="feature-table row mt-10">
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/deck0.webp alt>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/deck1.webp alt>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/deck2.webp alt>
          <span>Deck de madeira pintado com Osmocolor</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/deck3.webp alt>
          <span>Além do deck, os móveis também foram pintados.</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/teto_madeira_suja.webp alt="Um teto de madeira cheio de sujeira">
          <span>Teto antes da lavação e pintura</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/teto_madeira_lavada.webp alt="Um teto de madeira bem lavado e pintado">
          <span>Teto após a lavação e pintura</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/verniz0.webp alt="Bancos de igreja">
          <span>Renovação do verniz em móveis de madeira</span>
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/verniz1.webp alt="Bancos de igreja">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/verniz2.webp alt="Mesa sem tinta">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/verniz3.webp alt="Mesa pintada com o verniz">
        </div>
      </div>
      <div class=cell-md-6>
        <div class="img-container drop-shadow">
          <img src=img/casa_madeira0.webp alt="Casa de madeira">
          <span>Casa de madeira</span>
        </div>
      </div>
    </div>
  </div>
  <button class="button dark large drop-shadow outline mt-6 mb-16" onclick=loadRandomPage();>Ver mais fotos</button>
</div> 
